.button_1{
    background-color: #fff; /* Button background color */
  color: #171715; /* Button text color */
  border: 2px solid #171715; /* Button border color */
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.button_1:hover{
    background-color: #171715; /* Hover background color */
  color: #fff; /* Hover text color */
}